@import url('../../index.css');

.login-form-container {
  /* Variables */

  --text-password: 1.2rem;
  --text-label: 0.8rem;

  /* Style */

  width: 360px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 2px 8px rgb(230, 230, 230);
  font-size: 0.9rem;
  /* color: rgb(63, 63, 63); */
  color: var(--color-grey);
}

.login-form-title {
  color: black;
  font-size: 1.6rem;
  font-weight: 700;
  padding-top: 20px;
  text-align: center;
}

.login-alert-placeholder {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 4px;
}

.login-alert {
  width: 80%;
  margin: 0 auto;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.form,
.form-footer {
  padding: 10px 40px 10px 40px;
}

.form-group {
  position: relative;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.form-group label,
.register-form-group label {
  position: absolute;
  font-size: var(--text-label);
  font-weight: 600;
  margin-bottom: 8px;
  top: 12px;
  left: 10px;
  color: #999;
  background-color: white;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  pointer-events: none;
  transition: 0.2s ease all;
}

.form-group input {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 20px;
  margin-bottom: 6px;
  padding-top: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  font-size: 0.9rem;
}

.form-group input:hover,
.register-form-group input:hover {
  border-color: var(--color-primary);
}

.form-group input:focus,
.register-form-group input:focus {
  outline: none;
  border: 0.5px solid var(--color-primary);
  box-shadow: 0 0 0 0.5px var(--color-primary);
}

.form-group input:focus ~ label,
.register-form-group input:focus ~ label,
.form-group input:not(:placeholder-shown) ~ label,
.register-form-group input:not(:placeholder-shown) ~ label {
  top: -10px;
  font-size: 0.7rem;
}

.form-group input:focus ~ label,
.register-form-group input:focus ~ label {
  color: var(--color-primary);
}

.form-group input::placeholder,
.register-form-group input::placeholder {
  color: transparent;
  font-size: 0;
}

.form-group input[type='password'],
.register-form-group input[type='password'] {
  font-size: var(--text-password);
}

.form-group input[type='password']:focus,
.register-form-group input[type='password']:focus {
  font-size: var(--text-password);
}

.login-button {
  cursor: pointer;
  width: 100%;
  border: none;
  font-size: 0.85rem;
  font-weight: 600;
  margin-top: 6px;
  padding: 10px;
  background-color: var(--color-primary);
  color: white;
  border-radius: 4px;
}

.login-button:hover,
.register-button:hover {
  background-color: rgba(8, 107, 179, 0.9);
}

.login-button:disabled {
  cursor: not-allowed;
  background-color: #ccc;
  border: 1px solid #999999;
  color: #666;
  opacity: 0.7;
}

.form-footer,
.register-form-footer {
  font-size: var(--text-label);
  padding-bottom: 20px;
}

.form-footer p,
.register-form-footer p {
  text-align: center;
}

.form-footer a,
.register-form-footer a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 600;
}
